.logo {
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
  height: 58px;
  width: 314px;
  left: 42px;
  top: 30px;
}

.sub {
  height: 26px;
  width: 217px;
  left: 42px;
  top: 97px;
}

.sub_text {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}
